.image-backdrop {
  margin: auto;
  width: 50px;

  background-color: var(--neutral-300-transparent);
  border: 2px solid var(--neutral-300-transparent);

  border-radius: 12px;
}
.image-backdrop+p { color: var(--neutral-300); }
.image-backdrop>img { width: 50px; }

.filedrop {
  align-content: center;
  background-color: var(--neutral-300-transparent);

  border: 2px dashed var(--neutral-300);
  border-radius: 8px;

  display:flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 8px;
  text-align: center;
}
