<div>
  <span>
    <img src="challenge-assets/images/logo-mark.svg" alt="Coding Conference Logo">
    <h1>Coding Conf</h1>
  </span>
  <form>
    <div  (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <p>Drag and drop your files here</p>
      <ul>
        @for (file of files; track file.name) {
        <li>{{file.name }}</li>
        } @empty {
        <li>There are no items.</li>
        }
      </ul>
    </div>
    <br/>

    <label for="user-full-name">Full Name</label>
    <input id="user-full-name" name="user-full-name" type="text" placeholder="Yippee" />
    <br/>
    <br/>

    <label for="user-email">Email Address</label>
    <input id="user-email" name="user-email" type="text" placeholder="mona@example.com" />
    <br/>
    <br/>

    <label for="user-github">GitHub Username</label>
    <input id="user-github" name="user-github" type="text" placeholder="MonaTheOctocat" />
  </form>
</div>
